/* ============================================= */
/*              Variables                        */
/* ============================================= */
/* Color Variables */
$white: #fff;
$primary-grey: #777;
$bright-teal-blue: #58e1c1;
$bright-aqua-blue: #51ddfc;
$electric-blue: #7ee6fd;
$turquoise-blue: #80e8d1;
$boston-muted-blue: #4da2bb;
$bright-green: #63cc82;
$mint-green: #88d9a0;
$cherry-blossom-pink: #ec9fa3;
$dusty-rose-pink: #fd9f85;
$salmon-red: #e4757a;
$coral-orange: #fd7856;
$lilac-purple: #927bc1;
$wisteria-purple: #deb2ee;

/* Media Query Breakpoints */
$break-medium: '(min-width: 768px)';
