/* ============================================= */
/*              Variables                        */
/* ============================================= */
/* Color Variables */
$white: #fff;
$primary-grey: #777;
$bright-teal-blue: #58e1c1;
$bright-aqua-blue: #51ddfc;
$bright-green: #63cc82;
$salmon-red: #e4757a;
$coral-orange: #fd7856;
$lilac-purple: #927bc1;

/* Grid Variables */
// $flexBasis: 8.33;
$gridThemes: (
	'1': #927bc1,
	'2': #fd7856,
	'3': #deb2ee,
	'4': #7ee6fd,
	'5': #88d9a0,
	'6': #4da2bb,
	'7': #ec9fa3,
	'8': #fd9f85,
	'9': #e4757a,
	'10': #63cc82,
	'11': #51ddfc,
	'12': #80e8d1,
);

/* Media Query Breakpoints */
$break-m: 768px;
