/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: $white;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
}

.default {
  background-color: $bright-aqua-blue;
}

.error {
  background-color: $salmon-red;
}

.info {
  background-color: $lilac-purple;
}

.success {
  background-color: $bright-green;
}

.warning {
  background-color: $coral-orange;
}
